@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:underline-blue:hover {
    text-decoration: underline;
    text-decoration-color: blue;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #FBFCFD;
  }